*{
    margin: 0px;
    padding: 0px;
    font-size: x-large;
}

h1{
    font-size: xx-large;
    background-color: skyblue;
    padding: 1rem;
}

input{
    text-align: center;
}

div{
    min-width: 50%;
    padding-top: 1rem;
}

.calculator{
    min-height: 100vh;
    background-color: rgb(250, 145, 106);
}